CSS
body, html {
	margin: 0;
	padding: 0;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	height: 100%;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden; /*Disable scrolling*/
	padding-botton: 2%;
}
.background-video {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	objecr-fit: cover;
	z-index: -1;
}
.text-box {
	z-index: 10;
	color:white;
	background-color: rgba(0,0,0,0.50);
	padding: 20px 30px;
	border-radius: 10px;
	max-width: 60%;
}
.text-box {
	font-size: 2em;
	font-weight: bold;
	margin: 0;
}